# Виртуальное окружение
venv/
env/
.env
.venv/

# Временные и служебные файлы
bot.txt

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Логи
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Локальные файлы базы данных
*.db
*.sqlite3

# Временные файлы
temp/
tmp/

# Файлы с конфиденциальными данными
config.ini
secrets.json 